@pink: #E0ACD5; /*(224, 172, 213, 0.5)*/
@blue: #3993DD; /*(57, 147, 221, 0.5)*/
@tan: #F4EBE8;  /*(244, 235, 232, 0.5)*/
@tan1: #EEE2DF; /*(238, 226, 223, 0.5)*/
@peach: #F7D1CD;/*(247, 209, 205, 0.5)*/

/*

*/

:root{
	--red: #F16A70;
	--green: #B1D877;
	--blue: #8CDCDA;
	--darkgrey: #4D4D4D;
	--yellow: #FFD275;
	--pink: #E4B1AB;
	--peach: #F7D1CD;

}

*{
	/*background-color: rgba(244, 235, 232, 0.5);*/
}
.header{
	/*Font*/
	text-align: center;
	font-size: 3.5em;
	color:#fff;

	/*Layout*/
	background-color: var(--blue); 
	padding: 100px;
}

.procomponents{
	text-align: center;
	margin: 50px 0px 50px 0px;
}

.procomponents i{
	font-size: 80px;
	color: var(--green );
	opacity: 0.7;
}

.procomponents:hover{
	color: var(--pink);
}

.prework{
	border-style: solid;
	border-color: var(--blue);
	border-width: 5px;
	padding: 35px 35px 20px 55px;

}

.camera-steps{
	padding: 35px;
}

.image-target-steps{
	padding: 25px;
}

.wrap-up{

	font-size: 30px;
	text-align: center;
	padding: 50px;

	background: rgba(140,220,218,0.5);
	color: #000;
}

ul li{
	list-style-type: none;
	line-height: 1.7em;
}

h2{
	text-align: center;
}

input{
	margin: 5px;
}